{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h3>Current price: <span class="label label-success" id='group_price'>{{group.price}}</span></h3>
  <div class="col-xs-12" style="height:10px;"></div>
  <p><button name="auction_winner" value="True" class="btn btn-primary btn-lg btn-danger">Pay the price</button></p>
</div>




{% include Constants.instruction_template %}
</div>



{% endblock %}


      {% block scripts %}
      {% include 'volunteer/decision_channel.js.html' %}
        <script>

        </script>
      {% endblock %}
