{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decisions
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}


{% block content %}


    <div class="form-group required">

        <table class='table table-bordered text-center' style='width: auto; margin: auto'>

            <tr>
                <th class="text-center">Pairs de lotterie</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Mon choix est Lotterie A</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Mon choix est Lotterie B</th>
            </tr>
             </tr>
            {% for field in form %}
            <tr>
            <tr>
                <td>
                    {{ field.label_tag }}
                    {{ field.errors }}
                </td>
                <td><strong>{{ Constants.risk_averse_payoff_1 }}</strong> <br/>(1)</td>
                <td><strong>{{ Constants.risk_averse_payoff_2 }}</strong> <br/>(2,3,4,5,6,7,8,9,10)</td>
                <td><input type="radio" name="{{ field.html_name}}" value="True" required {% if field.value|stringformat:"s" == 'True' %}checked{% endif %}></td>
                <td><strong>{{ Constants.risk_takers_payoff_1 }}</strong> <br/>(1)</td>
                <td><strong>{{ Constants.risk_takers_payoff_2 }}</strong> <br/>(2,3,4,5,6,7,8,9,10)</td>
                <td><input type="radio" name="{{ field.html_name}}" value="False" required {% if field.value|stringformat:"s" == 'False' %}checked{% endif %}></td>
            </tr>
            <tr>
            {% endfor %}

         </table>

    </div>

       {% next_button %}


 {% endblock %}
