{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decisions
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}


{% block content %}
  {% for f in form %}
  {{f.label}}
  {% endfor %}
========= <br>
    <div class="form-group required">

        <table class='table table-bordered text-center' style='width: auto; margin: auto'>

            <tr>
                <th class="text-center">Pairs de lotterie</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Lotterie A</th>
                <th class="text-center">Mon choix est Lotterie A</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Lotterie B</th>
                <th class="text-center">Mon choix est Lotterie B</th>
            </tr>
             </tr>
          {% for abc in abclist %}
            <tr>
            <tr>
                <td>
                  {{ abc.0.label}}
                    {{ abc.0.errors }}
                </td>
                <td><strong>{{ Constants.risk_averse_payoff_1 }}</strong> <br/>({{abc.1}})</td>
                <td><strong>{{ Constants.risk_averse_payoff_2 }}</strong> <br/>({{abc.2}})</td>
                <td><input type="radio" name="{{ abc.0.html_name}}" value="True" required {% if abc.0.value == 'True' %}checked{% endif %}></td>
                <td><strong>{{ Constants.risk_takers_payoff_1 }}</strong> <br/>({{abc.1}})</td>
                <td><strong>{{ Constants.risk_takers_payoff_2 }}</strong> <br/>({{abc.2}})</td>
                <td><input type="radio" name="{{ abc.0.html_name}}" value="False" required {% if abc.0.value == 'False' %}checked{% endif %}></td>
            </tr>
            <tr>
            {% endfor %}

         </table>

    </div>

       {% next_button %}


 {% endblock %}
